<configuration>
  <system.webServer>    
    <rewrite>
      <rules>
                <clear />
                <rule name="myapp">
                    <match url="/*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="server.js" />
                </rule>
                <rule name="Http to https" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
                </rule>
      </rules>
    </rewrite>

    <iisnode node_env="production" nodeProcessCommandLine="C:\Users\Administrator\AppData\Local\nvm\v22.16.0\node.exe" interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />
      

  </system.webServer>
    <location path="" overrideMode="Deny">
        <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
        </system.webServer>
    </location>
</configuration>